
:root{
    --primarly-font:"Inter", sans-serif;
    --secondary-font:"Macondo", cursive;
    --primary-color: #3a2620;
    --secondary-color:#aa9581;
    --highlight-color:#416a8e;
    --light-highlight-color:#7a9fc2;
}
body {
    font-family: var(--primarly-font);
}
h1,
h2,
h3{
    font-family: var(--secondary-font);
    color:var(--primary-color)
}
.sub-heading{
    color:var(--highlight-color);
}
#navbar{
    background-color:var(--primary-color);
}
#navbar .logo{
    width: 30px;
}