
:root{
    --primarly-font:"Inter", sans-serif;
    --secondary-font:"Macondo", cursive;
    --primary-color: #3a2620;
    --secondary-color:#aa9581;
    --highlight-color:#416a8e;
    --light-highlight-color:#7a9fc2;
}
body {
    font-family: var(--primarly-font);
}
h1,
h2,
h3{
    font-family: var(--secondary-font);
    color:var(--primary-color)
}
h2{
    margin-bottom: 2rem;
}
h1,h2{
    text-transform: uppercase;
}
.sub-heading-color{
    color:var(--highlight-color);
}
#navbar{
    background-color:var(--primary-color);
}
#navbar .logo{
    width: 30px;
}
#header .lead{
    font-family: var(--secondary-font);
}
/*services*/
#section .card-footer{
    font-weight: bold;
    color:var(--highlight-color);
    background-color: transparent;
}
#services .card{
    margin-bottom: 1,5rem;
}
/*medium devices (tablets 786px and up)*/
@media screen and (min-width:786px) {
    /*make all services cards the same height for consistency*/
    #services .card {
        min-height: 19px;
    }
    
}
/*larger devices (laptops and up)*/
@media screen and (min-width: 992) {
    /*make all services cards the same height for consistency*/
    #services .card {
        min-height: auto;
    }
    
}
/*larger devices (desktop and up)*/
@media screen and (min-width: 1200px) {
    /*make all services cards the same height for consistency*/
    #services .card {
        min-height: 220px;
    }
    
}
/*extra large devices */
@media screen and (min-width: 1400px) {
    /*make all services cards the same height for consistency*/
    #services .card {
        min-height: 395px;
    }
    
}